@mixin button-style($color) {
    
    color: $color;
    border-color: $color;
    background-color: transparent;
    


    &:hover,
    &:active,
    &:focus,
    &:active:focus,
    &:active:hover{
        color:darken($color, 30%);
        border-color:darken($color, 30%);
        background-color: transparent;
    }
}